doctype html
html
    link(rel="stylesheets", href="stylesheets/force-parallel.css")

    script(src="http://mbostock.github.com/d3/d3.v2.js")
body
    #chart-left
    #chart-right
    
    script(src="http://documentcloud.github.com/underscore/underscore.js")
    script(src="scripts/force-parallel.js")
