doctype html
html
        // Meta tags for SEO and Responsiveness
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="HandheldFriendly", content="true")
        meta(name="robots", content="index, follow")
        
        //Stylesheets
        link(rel="stylesheet", href="stylesheets/force_curved.css")

        //D3.js scripts
        script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
body
    h1 Forced Direction Curved

script(src="scripts/force_direction_curved.js")
