doctype html
html
        // Meta tags for SEO and Responsiveness
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="HandheldFriendly", content="true")
        meta(name="robots", content="index, follow")
body
    h1 Main Page
    ul 
        li
            a(href="forced_directed.html") Forced Direction
        li
            a(href="forced_curved.html") Forced Curved
        li 
            a(href="forced_selectable.html") Forced Selectable
        li
            a(href="forced_3d.html") Forced 3D
        li
            a(href="forced_collapsible.html") Forced Collapsible
