doctype html
html
        // Meta tags for SEO and Responsiveness
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="HandheldFriendly", content="true")
        meta(name="robots", content="index, follow")
body
    h1 Main Page
    ul 
        li
            a(href="directed.html") Forced Directed
        li
            a(href="curved.html") Forced Curved
        li 
            a(href="selectable.html") Forced Selectable
        li
            a(href="3d.html") Forced 3D
        li
            a(href="collapsible.html") Forced Collapsible
        li
            a(href="labeled.html") Forced Collapsible Labeled
        li
            a(href="net_labeled.html") Net with Labels
        li
            a(href="bundled-force.html") Bundled Force
        li
            a(href="color-coded-neighbor-nodes.html") Color Coded Neighbor Nodes
        li
            a(href="color-node-force.html") Color Node Forced
        li
            a(href="force-parallel.html") Force Parallel 
        li
            a(href="labeled-relationships.html") Labeled Relationships
        li
            a(href="tilford-tree.html") Tilford Tree
