doctype html
head
    meta(charset="utf-8")
    script(src="http://d3js.org/d3.v3.min.js")
    link(rel="stylesheet", href="stylesheets/labeled.css")
body
    h1 Forced Collapsible Labeled

    script(src="scripts/labeled.js")
