doctype html
head
    meta(charset="utf-8")
    script(src="http://d3js.org/d3.v3.min.js")
    link(rel="stylesheet", href="stylesheets/net_labeled.css")
body
    h1 Net with Labels

script(src="scripts/net_labeled.js")
